body {
    margin-left: 40px;
    margin-top: 40px;
    background-color: powderblue;
}
.title {
    font-family: "Malgun Gothic";
    font-weight: bold;
    color: #113999;
    text-shadow: 2px 2px 5px lightseagreen;
}
a {
    text-decoration: none;
}

.button {
    font-family: "Malgun Gothic";
    display: inline-block;
    background-color: #115999;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 60px;
    cursor: pointer;
}

.button:hover {
    background-color: #11a999
}

label {
    font-family: "Malgun Gothic";
    font-weight: bold;
}

input[type=text] {
    width: 20%;
    padding: 7px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
.dropdown {
    width: 20%;
    padding: 7px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.input-validation-error {
    border-color: red;
    background-color: #fee;
}

#table {
    background-color: white;
    font-family: "Malgun Gothic";
    border-collapse: collapse;
    width: 45%;
    margin-top: 10px;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    font-family: "Malgun Gothic";
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #115999;
    color: white; 
    
}
.add {
    padding: 8px;
}
.addbutton {
    font-family: "Malgun Gothic";
    display: inline-block;
    background-color: lightseagreen;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 9px;
    width: 180px;
    cursor: pointer;
    margin-top: 10px;
}

.addbutton:hover {
    background-color: #11a999
}


.back {
    padding: 8px;
}

.backbutton {
    font-family: "Malgun Gothic";
    display: inline-block;
    background-color: midnightblue;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 9px;
    width: 65px;
    cursor: pointer;
    margin-top: 10px;
}

.backbutton:hover {
    background-color: dimgray
}

.textbox {
    vertical-align: top;
    height: 80px;
    width: 300px;
}
.check {
    position: absolute;
    margin-left: 15px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}