@model VolunteerManagementSystem.Models.Login

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Style/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>
<body class="center" style="background-color: powderblue">
    <h1 class="title">Hello, @Model.Username!</h1>
    <p><a class="ManageButton" asp-controller="Volunteer" asp-action="ManageVolunteer">Manage Volunteers</a></p>
    <p>OR</p>
    <p><a class="ManageButton" asp-controller="Volunteer" asp-action="ManageOpportunity">Manage Opportunities</a></p>
</body>
</html>