@model VolunteerManagementSystem.Models.Login
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Style/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="center">
        <h1 class="title">Login</h1>
        <div style="color: red">@ViewBag.ErrorMsg</div>
        <form class="form" asp-action="AdminLogin" method="post">
            <div><span style="color:red" asp-validation-for="Username" class="text-danger"></span></div>
            <div><span style="color:red" asp-validation-for="Password" class="text-danger"></span></div>
            <div>
                <label asp-for="Username">Username: </label>
                <input class="form-control" asp-for="Username" />
            </div>
            <br />
            <div>
                <label asp-for="Password">Password: </label>
                <input class="form-control" asp-for="Password" />
            </div>
            <br />
            <div>
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>