@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Style/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="center">
        <h1 class="title">Off-The-Script VMS</h1>
        <a class="button" asp-controller="Home" asp-action="AdminLogin">Admin</a>
        <a class="button" asp-action="UserLogin">User</a>
    </div>
</body>
</html>
