@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>
    <meta name="viewport" content="width=device-width" />
    <div class="text-center">
        <h1 class="display-4">Off-The-Script VMS</h1>
        <a class="btn btn-primary" asp-controller="Home" asp-action="AdminLogin">Admin</a>
        <a class="btn btn-primary" asp-action="UserLogin">User</a>
    </div>
</body>
</html>
