@model IEnumerable<VolunteerManagementSystem.Models.Login>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Volunteers</title>
</head>
<body>
    <div class=" container">
        <h2>Manage Volunteers</h2>
        <input type="text" placeholder="Search...">
        <select name="Filter">
            <option value="" disabled selected>Select Filter</option>
            <option value="approvedpending">Approved/Pending Approval</option>
            <option value="approved">Approved</option>
            <option value="pending">Pending Approval</option>
            <option value="disapproved">Disapproved</option>
            <option value="inactive">Inactive</option>
            <option value="all">All</option>

        </select>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Volunteers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (VolunteerManagementSystem.Models.Login r in Model)
                {
                    <tr>
                        <td>@r.Username</td>
                        <td>Edit</td> <!--make this a button-->
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
