@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Login</title>
</head>
<body>
    <meta name="viewport" content="width=device-width" />
    <div class="text-center">
        <h1 class="display-4">User</h1>
    </div>
</body>
</html>