@model Volunteer
@{
    ViewBag.Title = "Edit Volunteer";
    Layout = null;
}
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Edit Volunteers</title>
        <link href="~/css/Style/StyleSheet2.css" rel="stylesheet" type="text/css" />
    </head>
    <form asp-action="EditVolunteer" method="post">
        <input type="hidden" asp-for="VolunteerID" />
        <div class="form-group">
            <label asp-for="FirstName">First Name:</label>
            <input asp-for="FirstName" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="LastName">Last Name:</label>
            <input asp-for="LastName" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="Username">Username:</label>
            <input asp-for="Username" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" class="form-control" />
        </div><br>
        <div class="form-group">
            <label>Center Preferred:</label>
            <select asp-for="CentersPreferred" class="dropdown">
                <option value="" disabled selected>Select</option>
                <option value="Environment">Environmental Center</option>
                <option value="Food/Supply">Food/Supply Center</option>
                <option value="Care">Care Center</option>
                <option value="Learn">Learning Center</option>
                <option value="Media">Media Center</option>
            </select>
        </div><br>
        <div class="form-group">
            <label asp-for="SkillsInterests">Skills and Interests:</label>
            <textarea asp-for="SkillsInterests" class="textbox"></textarea>
        </div><br>
        <div class="form-group">
            <label>Availability:</label>
            <select asp-for="Availability" class="dropdown">
                <option value="" disabled selected>Select</option>
                <option value="M">Monday</option>
                <option value="T">Tuesday</option>
                <option value="W">Wednesday</option>
                <option value="Th">Thursday</option>
                <option value="F">Friday</option>
                <option value="S">Saturday</option>
                <option value="Su">Sunday</option>
            </select>
        </div><br>
        <div class="form-group">
            <label asp-for="Address">Address:</label>
            <input asp-for="Address" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="PhoneNumber">Phone Number:</label>
            <input asp-for="PhoneNumber" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="Education">Education:</label>
            <input asp-for="Education" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="Licenses">Licenses:</label>
            <input asp-for="Licenses" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="EmergencyName">Emergency Contact Name:</label>
            <input asp-for="EmergencyName" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="EmergencyPhone">Emergency Contact Phone Number:</label>
            <input asp-for="EmergencyPhone" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="EmergencyEmail">Emergency Contact Email:</label>
            <input asp-for="EmergencyEmail" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="EmergencyAddress">Emergency Contact Address:</label>
            <input asp-for="EmergencyAddress" class="form-control" />
        </div><br>
        <div class="form-group">
            <label asp-for="ValidLicense">Valid License:</label>
            <input asp-for="ValidLicense" class="check" />
        </div><br>
        <div class="form-group">
            <label asp-for="ValidSocial">Valid Social Security Number:</label>
            <input asp-for="ValidSocial" class="check" />
        </div><br>
        <div class="form-group">
            <label>Approval Status:</label>
            <select asp-for="Approval" class="dropdown">
                <option value="" disabled selected>Select</option>
                <option value="Approved">Approved</option>
                <option value="Pending">Pending Approval</option>
                <option value="Disapproved">Disapproved</option>
                <option value="Inactive">Inactive</option>
            </select>
        </div>
        <br />
        <br />
        <div class="text-center">
            <button class="button" type="submit">Save</button>
            <button asp-action="ManageVolunteer" class="button">Cancel</button>
        </div>
    </form>