@model VolunteerManagementSystem.Models.FilterTerm
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilterNum</title>
</head>
<body>
    <form asp-action="List" method="post">
        <label>Approval Status</label>
        <select asp-for="FilterString">
            <option value=''>Choose an option</option>
            <option value="Approved/Pending">Approved/Pending Approval</option>
            <option value="Approved">Approved</option>
            <option value="Pending">Pending Approval</option>
            <option value="Disapproved">Disapproved</option>
            <option value="Inactive">Inactive</option>
            <option value="Approved/Pending/Disapproved/Inactive">All</option>
        </select>
        <button type="submit">Search</button>
    </form>
</body>
</html>
