@model IEnumerable<Volunteer>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Volunteers</title>
</head>
<body>
    <div class=" container">
        <h2>Manage Volunteers</h2>
        <input type="text" placeholder="Search...">
        <select name="Filter">
            <option value="" disabled selected>Select Filter</option>
            <option value="approvedpending">Approved/Pending Approval</option>
            <option value="approved">Approved</option>
            <option value="pending">Pending Approval</option>
            <option value="disapproved">Disapproved</option>
            <option value="inactive">Inactive</option>
            <option value="all">All</option>

        </select>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Volunteers</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var v in Model)
                {
                    <tr>
                        <td><a class="btn-link" asp-action="ViewOpportunities">@v.FirstName @v.LastName</a></td>
                        <td><button class="editbtn">Edit</button></td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</body>
</html>
