@model IEnumerable<Volunteer>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Volunteers</title>
</head>
<body>
    <div class=" container">
        <h2>Manage Volunteers</h2>
        <input type="text" placeholder="Search...">
        <select name="Filter">
            <option value="" disabled selected>Select Filter</option>
            <option value="approvedpending">Approved/Pending Approval</option>
            <option value="approved">Approved</option>
            <option value="pending">Pending Approval</option>
            <option value="disapproved">Disapproved</option>
            <option value="inactive">Inactive</option>
            <option value="all">All</option>
        </select>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Volunteers</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var v in Model)
                {
                <tr>
                    <td><a class="btn-link" asp-action="ViewOpportunities">@v.FirstName @v.LastName</a></td>
                    <td><a asp-action="EditVolunteer" class="btn btn-sm btn-warning" asp-route-volunteerId="@v.VolunteerID">Edit</a>
                        <input type="hidden" name="ProductID" value="@v.VolunteerID" />                       
                    </td>
                </tr>
                }

            </tbody>
        </table>
        <div class="text-center">
            <a asp-action="CreateVolunteer" class="btn btn-primary">Add Volunteer</a>
        </div>
    </div>
</body>
</html>
