@model IEnumerable<Opportunity>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Opportunities</title>
</head>
<body>
    <div class=" container">
        <h2>Manage Opportunities</h2>
        <input type="text" placeholder="Search...">
        <select name="Filter">
            <option value="" disabled selected>Select Filter</option>
            <option value="recent">Most Recent (60 days)</option>
            <option value="center">By Center</option>
        </select>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Opportunities</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var o in Model)
                {
                <tr>
                    <td><a class="btn-link" asp-action="ViewVolunteers">@o.Title</a></td>
                    <td>make details btn to show description</td>
                    <td><button class="editbtn">Edit</button></td>
                </tr>
                }
                
            </tbody>
        </table>
    </div>
</body>
</html>
