@model IEnumerable<Opportunity>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Opportunities</title>
</head>
<body>
    <div class=" container">
        <h2>Manage Opportunities</h2>
        <input type="text" placeholder="Search...">
        <select name="Filter">
            <option value="" disabled selected>Select Filter</option>
            <option value="recent">Most Recent (60 days)</option>
            <option value="center">By Center</option>
        </select>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Opportunities</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var o in Model)
                {
                <tr>
                    <td>
                        <details>
                            <summary><a class="btn-link" asp-action="ViewVolunteers">@o.Title</a></summary>
                            <p>@o.Description</p>
                    </details>
                    </td>

                    <td>
                        <form asp-action="Delete" method="post">
                            <a asp-action="EditOpportunity" class="btn btn-sm btn-warning" asp-route-opportunityId="@o.OpportunityID">Edit</a>
                            <input type="hidden" name="OpportunityID" value="@o.OpportunityID" />
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                }

            </tbody>
        </table>
        <div class="text-center">
            <a asp-action="CreateOpportunity" class="btn btn-primary">Add Opportunity</a>
        </div>
    </div>
</body>
</html>
