@model ViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Volunteer's List of Opportunities</title>
    <link href="~/css/Style/StyleSheet2.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">

        @if (Model.FilterString == null)
        {
            <p style="font-size: 20px; color: darkred">No Matches Found</p>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th style="font-size: 20px">Matched Opportunities:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var o in Model.Opportunities)
                    {
                        <tr>
                            <td style="font-size:16px; padding: 8px">@o.Title</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <br />
    <div>
        <a asp-action="ManageVolunteer" class="button">Back</a>
    </div>
</body>
</html>
