@model IEnumerable<Volunteer>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Volunteers</title>
</head>
<body>
    <div class=" container">
        
        <h2>Volunteer Name</h2>                  

        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Opportunities</th>
                </tr>
            </thead>
            <tbody>
                          
                    <tr>
                        <td>Opportunity</td>
                    </tr>
             
            </tbody>
        </table>
    </div>
</body>
</html>
