@model ViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class=" container">
        <h2>opportunity title</h2>

        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Volunteers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.Volunteers)
                {
                    <tr>
                        <td>@v.FirstName @v.LastName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
